body {
    background-color: #ebf0fa;
    color: #000000;
    font-size: 20px;
}

article {
    margin-left: 25px;
}

#shell_img {
    display: block;
    margin-right: auto;
    margin-left: 150px;
    width: 30%;
    padding: 30px;
}

#a_shell {
    width:75%;
    float: left;
    margin-left: 250px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}


#stroke_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    padding: 20px;
}

#rowing_gif {
    display:block;
    margin:auto;
    padding:20px;
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.content {
    width: 80%;
    border: 4px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

